body {
  background: #b7edfb;
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #009fc7;
  font-size: 45px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.tiles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(6, 90px);
  gap: 16px;
  box-sizing: border-box;
}

.tile {
  height: 120px;
  background-color: #009fc7;
  cursor: pointer;
  border: #0000 solid 5px;
  border-radius: 5px;
  font-size: 50px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
  line-height: 120px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#buttons {
  position: fixed;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -40%);
  display: none;
  border-radius: 10px;
}

#buttons .button1 {
  background-color: #009fc7;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto 15px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#buttons .button2 {
  background-color: #009fc7;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto 15px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.paired {
  background-color: #fff;
  color: #009fc7;
  border: #009fc7 solid 5px;
}
